    /* Title Font: Raleway */
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');

    /* Body Font: Roboto Regular 400 */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

h1 {
    font-family: 'Raleway', sans-serif;
    font-size: 2em;
    color: black;
}

* {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    
    margin: 0%;
    padding: 0%;
}

a {
    text-decoration: none;
}




    /* Header */
header {
    background-color: #BDADEA;
    height: 100px;
}


    

.img-highlight {
    width: 25%;
}

